<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title th:text="${title}"></title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        <h1 th:utext="${title}"></h1>
        <p th:utext="${content}"></p>
        <p></p>
        <hr />
        <p>
            <b>**Terms And Conditions governing this service apply**</b>
        </p>
        <p>Kind Regards,<br/>
            Tracom Solutions Limited </p>

        <p>Nairobi, Kenya</p>
        <p>sales@tracom.co.ke</p>
        <p>+254 (0)20 242 9692/3</p>
</body>
</html>
